{% extends "base.html" %}

{% block title %}REQUESTS{% endblock %}

{% block heading %}

Requests to EVENTS

{% endblock %}

{% block content %}

    <h2>Current weather in {{weather.location.name}}: </h2>

    <p>Temp: {{weather.current.temp_c}} </p>
    <p>Condition: {{weather.current.condition}}</p>
    <p>Wind speed: {{weather.current.wind_kph}} km/h</p>

    <h2>Total Number of Events: {{ events.results|length }}</h2>

    {% for event in events.results %}
        <div class="event">
            ============================================================
            <h3>{{event.id}}</h3>
            <p>{{event.slug | truncate (25, True)}}</p>
            <p>{{event.title | truncate (25, True)}}</p>
            <p>{{event.place}}</p>
            <p>{{event.description | truncate (25, True)}}</p>
            <p>{{parsed_description  | truncate (25, True)}}</p>
            <p>{{event.parsed_description  | truncate (25, True)}}</p>
            <p>{{event.body_text  | truncate (25, True)}}</p>
            <p>{{event.parsed_body_text  | truncate (25, True)}}</p>
            <img src="{{event.images.image}}">
            <p>{{event.images}}</p>
            <p>{{event.tags  | truncate (25, True)}}</p>
            <p>{{event.tagline  | truncate (25, True)}}</p>
            ============================================================
        </div>

        <hr>
    {% endfor %}
{% endblock %}


