{% extends "base.html" %}

{% block title %}REQUESTS{% endblock %}

{% block heading %}

<h2 class="cards__title">Погода сегодня</h2>


<p>Температура: {{weather.temperature}}°C, {{weather.description}} </p>

<!-- <h2>Общее количество мероприятий: {{ events.results|length }}</h2> -->

{% endblock %}

{% block content %}

        <h1>А вот тут резы для запроса к модели:</h1>

    {% for found in model_response %}
        <p> {{found.event_name}}</p>
        <p>{{found.content}}</p>
        <p>{{found.img_id}}</p>
    {% endfor %}

    {% for event in events.results %}
        <div class="card">
            <img src="{{event.images.image}}">
            <h3 class="card__title">{{ event.title.capitalize() }}</h3>
            <p class="card__subtitle">{{event.parsed_body_text | truncate (1000, True)}}</p>
<!--            <p>Start date: {{event.dates.start}}</p>-->
<!--            <p>End date: {{event.dates.end}}</p>-->
            {%if event.place.title %}
                <p>Название места проведения: {{event.place.title}}</p>
            {% endif %}
            {% if event.place.address %}
                <p>Адрес: {{event.place.address}}</p>
            {% endif %}
            {%if event.is_free%}
                <p>Бесплатно</p>
                {% else %}
                <p>{{event.price}}</p>
            {% endif %}
            {% if event.site_url %}
                <p>Ссылка: {{ event.site_url }}</p>
            {% endif %}
        </div>

        <hr>
    {% endfor %}
{% endblock %}