{% extends "base.html" %}

{% block title %}REQUESTS{% endblock %}

{% block heading %}Requests to EVENTS{% endblock %}

{% block content %}
        <div class="event">
            <h3>{{event.id}}</h3>
            <p>{{event.slug}}</p>
            <p>{{event.title}}</p>
            <p>{{event.place}}</p>
            <p>{{event.description}}</p>
            <p>{{parsed_description}}</p>
            <p>{{event.body_text}}</p>
            <p>{{parsed_body_text}}</p>
            <p>{{event.images}}</p>
                {{event.images[0].image}}
                <img src="{{event.images[0].image}}">
            <p>{{event.tags}}</p>
            <p>{{event.tagline}}</p>
        </div>
{% endblock %}
