<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <header class="header">
        <p class="header__username">UserName</p>
        <a href="#" class="header__link">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 3C25.0898 3 28 5.86042 28 9.38889C28 12.1534 26.6475 14.3582 25.8233 15.5248C22.2366 20.6011 17.7377 24.0626 15 26C12.2623 24.0626 7.76341 20.6011 4.17672 15.5248C3.35255 14.3582 2 12.1534 2 9.38889C2 5.86042 4.91015 3 8.5 3C10.45 3 13.05 3 15 6.83333C16.95 3 19.55 3 21.5 3Z" fill="#D9D9D9"/>
            </svg>
        </a>
    </header>
    <main class="main">
        <div class="main__body">
            <label for="text-input">Введите текст:</label>
            <input type="text" id="text-input" placeholder="Введите текст здесь" />
            <h1 class="main__title">Выберите город</h1>
            <form class="main__form" onsubmit="submitForm(event)">
                <label for="choice">Выберите вариант:</label>
                <select class="main__select" id="choice" name="choice" required>
                    <option value="msk">Москва</option>
                    <option value="spb">Санкт Петербург</option>
                    <option value="ekb">Екатеринбург</option>
                </select>
                <button class="main__button" type="submit">Отправить</button>
            </form>
        </div>
        <div class="cards" id="result-container">
            <!-- Сюда будет вставлен список -->
        </div>
    </main>
</body>
<script src="{{ url_for('static', path='js/script.js') }}"></script>
</html>